.main{
    /* background-color: darkgray; */
    height: 585px;
}

.topbar{
    display: flex;
    /* display: block; */
    justify-content:space-evenly;
    height: 10%;
    width: 100%;
    background-color: black;
    position: fixed;

    
    /* background-color: black; */
    
}

h1{
    color: white;
    font-weight: bolder;
    text-align: center;
    margin-top: 95px;
}

h2{
    color: rgb(245, 240, 240);
    font-weight: bolder;
    text-align: center;
}


.buttons{
    
    display: flex;
    color: aliceblue;
    /* background-color: gray; */
    /* height: 30px; */
    margin-top: 20px;   
    justify-content: space-around;
    
}
button{
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: white;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* justify-content: space-around; */

}

p{
    text-align: center;
    /* font-weight: bold; */
    font-size: x-large;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 600px;
    margin: 0px;
    margin-top: 40px;
    color: black;
}
.infobox{
display: flex;
flex-direction: column;
align-items: center;
height: 50%;
}

.h2{
    color: white;
    font-size: xx-large;
}

img{
    width: 20px;
    height: 20px;
    /* align-items:center; */
    margin-top: 18px;
    /* margin-left: 40px; */
    /* padding: 10px; */
    
}
.pictures{
    /* align-items: center; */
    margin-left: 100px;
    /* display: flex; */
    /* justify-content: space-around; */
    padding-left: 10px;
    margin-top: 12px;
    
}

.face{
    height: 100px;
    width: 100px;
    display: flex;
    margin: 0px;
    padding: 0px;
   border-radius: 40px;
   margin-top: 40px;
}

.github{
    margin-right: 10px;
}

.aboutme{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 121%px;
    
}

.aboutme > img{
    height: 291px;
    width: 242px;
    padding-right: 20px;
    margin-left: 40px ;
    border-radius: 225px;

}

.github{
    color: white;
    background-color: antiquewhite;

}

.skills{
    /* display: flex; */
}

.skills > h2{
    font-size: xx-large;
    color: black;
}

.myskills{
text-align:center;
display: flex;
/* justify-content: space-between; */
}

.skill1 > p{
font-size: medium;
/* border-right: 5px; */
border-color: orange;
border-style: inset;
color: black;
width: 300px;
padding: 20px;
}

.skill2 > p{
font-size: medium;
border-color: orange;
border-style:inset;
color: black;
width: 300px;
height: 129px;
padding: 20px;

}

.skill3 > p{
    font-size: medium;
border-color: orange;
border-style: inset;
color: black;
height: 129px;
width: 300px;
padding: 20px;
}

.skills > h3{
    display: flex;
    justify-content: center;
    font-size: 17px;
    color: gray;
}
 .my